.footer-nav-link,.footer-info,.info,.footer-list,.social-link{
    justify-content: space-between;
}
.footer,.footer-list-item a{
    color: white;
}
.footer-list-item a{
    line-height: 24px;
}
.footer-list{
    width: 464px;
    align-items: center;
}
.footer-list-item{
    width: 64px;
}
.footer-nav-link{
    padding: 60.2px 0 35.98px 0;
}
.icon{
    color: white;
    font-size: 36px;
}
.footer-info{
    border-top: solid 1px white;
    padding: 32px 0;
}
.social-link{
    max-width: 208px;
}
.social-link img{
    width: 48px;
    height: 48px;
}
.info{
    width: 174px;
}
.pd-TB{
    padding: 8px 0 32px 0;
}
.contact-item a{
    margin-right: 10px;
}
